<div class="comments-form-container">
    <a href="/comments/dashboard">Voltar</a>
    <h1>Criando um comentário</h1>
    <form action="/comments/add" method="post">
        <div class="form-control">
            <label for="title">Comentário:</label>
            <input type="text" name="title" placeholder="Escreva o seu comentário...">
        </div>
        <input type="submit" value="Comentar">
    </form>
</div>