<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/comments/add" class="btn">Criar Comentário</a>
    </div>
    <h3>Seus comentários</h3>
    <ul>
        {{#each commentsUser}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/comments/edit/{{this.id}}" class="btn">Editar</a>
                    <form action="/comments/remove" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir" class="btn">
                    </form>
                </span>
            </li>
        {{/each}}
        {{#if emptyComments}}
            <p>Não há nenhum comentário por aqui!</p>
        {{/if}}
    </ul>
</div>